alabaster==0.7.11
anaconda-client==1.6.14
anaconda-navigator==1.8.7
anaconda-project==0.8.2
apipkg==1.5
arabic-reshaper==2.0.14
asn1crypto==0.24.0
astroid==1.6.5
astropy==3.0.3
atari-py==0.1.1
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.2
blaze==0.11.3
bleach==2.1.3
bokeh==0.13.0
boto==2.48.0
Bottleneck==1.2.1
Box2D-kengz==2.3.3
certifi==2019.9.11
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
clyent==1.2.2
cntk==2.2
colorama==0.3.9
conda==4.7.12
conda-package-handling==1.6.0
configparser==3.5.0
contextlib2==0.5.5
cryptography==2.5
cycler==0.10.0
Cython==0.28.3
cytoolz==0.9.0.1
dask==0.18.1
datashape==0.5.4
dcm2bids==1.1.8
decorator==4.3.0
distributed==1.22.0
docutils==0.14
entrypoints==0.2.3
esprima==4.0.1
et-xmlfile==1.0.1
execnet==1.5.0
fastcache==1.0.2
Flask==1.0.2
Flask-Cors==3.0.6
fmriprep==1.1.7
fmriprep-docker==1.1.7
funcsigs==1.0.2
future==0.16.0
gevent==1.3.4
gmpy2==2.0.8
grabbit==0.2.4
greenlet==0.4.13
gym==0.9.3
h5py==2.8.0
HDDM==0.6.1
heapdict==1.0.0
html5lib==1.0.1
idna==2.7
imageio==2.3.0
imagesize==1.0.0
indexed-gzip==0.8.7
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
isodate==0.6.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.0
jeepney==0.3.1
Jinja2==2.10
JSAnimation==0.1
json-tricks==3.13.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.12
jupyterlab-launcher==0.10.5
jupyterthemes==0.17.8
kabuki==0.6.2
Keras==2.0.8
keyring==13.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lesscpy==0.12.0
llvmlite==0.24.0
locket==0.2.0
lockfile==0.12.2
lxml==4.2.2
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
mock==2.0.0
more-itertools==4.2.0
moviepy==0.2.3.5
mpmath==1.0.0
msgpack==0.5.6
msgpack-python==0.5.6
mujoco-py==0.5.7
multipledispatch==0.5.0
navigator-updater==0.2.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nibabel==2.3.0
nilearn==0.4.2
nipype==1.1.3
nitime==0.7
niworkflows==0.4.3
nltk==3.3
nose==1.3.7
notebook==5.5.0
num2words==0.5.7
numba==0.39.0
numexpr==2.6.5
numpy==1.13.1
numpydoc==0.8.0
odo==0.5.1
olefile==0.45.1
openpyxl==2.5.4
outlier-utils==0.0.3
pachi-py==0.0.21
packaging==17.1
pandas==0.23.4
pandas-datareader==0.5.0
pandocfilters==1.4.2
parso==0.2.1
partd==0.3.8
path.py==11.0.1
pathlib2==2.3.2
patsy==0.5.1
pbr==4.2.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
plotly==4.1.1
plotly-express==0.4.0
pluggy==0.6.0
ply==3.11
prompt-toolkit==1.0.15
protobuf==3.4.0
prov==1.5.0
psutil==5.4.6
psychopy-ext==0.6.0.4
ptitprince==0.1.4
ptyprocess==0.6.0
py==1.5.3
pybids==0.6.5
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.2
pydot==1.2.4
pydotplus==2.0.2
pyflakes==2.0.0
pygame==1.9.4
pyglet==1.3.2
Pygments==2.2.0
PyHamcrest==1.9.0
pylint==1.9.2
pymc==2.3.6
pyodbc==4.0.23
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.2.0
PyQt5==5.12
PyQt5-sip==4.19.14
PySocks==1.6.8
PySoundCard==0.5.2
pytest==3.6.2
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-forked==0.2
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
pytest-xdist==1.23.1
python-bidi==0.4.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.2
rdflib==4.2.2
requests==2.19.1
requests-file==1.4.2
requests-ftp==0.3.1
retrying==1.3.3
rope==0.10.7
ruamel-yaml==0.15.42
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.9.0
SecretStorage==3.0.1
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.4
sounddevice==0.3.13
SoundFile==0.10.2
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
spyder==3.3.0
spyder-kernels==0.2.4
SQLAlchemy==1.2.8
statsmodels==0.10.1
svgutils==0.3.0
sympy==1.1.1
tables==3.4.4
tblib==1.3.2
tensorflow==1.15.2
tensorflow-tensorboard==0.1.6
terminado==0.8.1
testpath==0.3
Theano==0.9.0
toolz==0.9.0
tornado==5.0.2
tqdm==4.31.1
traitlets==4.3.2
traits==4.6.0
unicode==2.7
unicodecsv==0.14.1
UNKNOWN==0.0.0
urllib3==1.23
versioneer==0.18
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.5
xlwt==1.3.0
zict==0.1.3
zmq==0.0.0
